 .inter {
     font-family: 'Inter', sans-serif;
 }

 .noto {
     font-family: 'Noto Serif', serif;
 }

 .card p,
 button {
     font-family: 'Inter', sans-serif;

 }

 .flower-lover li {
     font-family: 'Inter', sans-serif;
 }

 .card button {
     font-size: 12px;
     line-height: 15px;
     font-weight: 900;
     background-color: #E95A08;
     color: white;
     border-radius: 0.25rem;
     margin-top: 0.5rem;
 }

 .hero p {
     font-family: 'Inter', sans-serif;
     font-size: 15px;
     font-weight: 400;
     line-height: 18px;

 }

 .deal-details h1 {
     font-family: Noto Serif;
     font-size: 40px;
     font-weight: 700;
     line-height: 55px;
     letter-spacing: 0%;
     text-align: center;
 }

 .deal-details p {
     color: rgba(0, 0, 0, 0.5);
     font-family: Inter;
     font-size: 15px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0%;
     text-align: center;
 }

 .subscribe-title {
     color: rgb(255, 255, 255);
     font-family: Noto Serif;

     font-weight: 700;

     letter-spacing: 0%;
     text-align: center;
 }

 .footer-desc {
     color: rgba(0, 0, 0, 0.5);
     font-family: Inter;
     font-weight: 400;
     letter-spacing: 0%;
     text-align: left;
 }

 .footer-link {
     /* Text/Medium/Regular */
     color: rgb(107, 114, 128);
     font-family: Inter;
     font-weight: 400;
     letter-spacing: 0%;
     text-align: center;
 }